node_modules/
out/
bundle/
coverage/
*.tgz
yarn-error.log
.vscode/
docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.vuepress/dist
dist/
junit.xml
node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
