:root {
  --color-primary: blue;
  --color-secondary: yellow;
  --color-forground: #333;
  --color-background: lightgray;
}

html, body:not(.submissive) {
  height: 100%;
  margin: 0;
}

.fancy,
.fancy * {
  box-sizing: border-box;
}

.fancy {
  background-color: var(--color-background);
  color: var(--color-forground);
  font-family: sans-serif;
}

.stretch {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.fancy:not(.theme-loaded) {
  display: none;
}

.fancy > header {
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-secondary);
  margin-bottom: 1em;
}

.fancy > footer {
  padding-left: 1em;
}

.fancy button {
  background-color: var(--color-secondary);
  color: var(--color-forground);
  padding: 1em;
  font-weight: bold;
  border-radius: 1em;
  border: none;
}

.fancy button:not(.active) {
  cursor: pointer;
}

.fancy button.active {
  border: 2px solid var(--color-forground)
}

.fancy .round-edges {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  border: 1px solid var(--color-forground);
}

.fancy .collection {
  border: 5px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.stretch > *,
.fancy .side-by-side > *,
.fancy .collection > * {
  flex: 1;
}

.fancy collage-fragment {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.fancy collage-fragment > * {
  flex: 1;
}

.fancy .side-by-side {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 1em;
}

.tight {
  font-size: small;
}

.tight p {
  display: inline-block;
  margin: 0 1em;
}

iframe {
  border: none;
}

.basic-app {
  display: grid;
  grid-template-rows: 10vh auto 15vh;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

.basic-app > header {
  grid-area: header;
}

.basic-app > main {
  grid-area: content;
}

.basic-app > aside {
  grid-area: sidebar;
}

.basic-app > footer {
  grid-area: footer;
}
